header {
	background-color: #EBF5FF; 
	font-family: Palatino,Arial;
	margin-top: -0px;
	margin-left: -0px; 
	padding-top: 5px;
	padding-bottom: 60px;
	height: 47px;
}

body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #FAFFFF;
	font-weight: 400;
	font-size: 15px;
	color: #1d3c41;
	overflow-y: scroll;
	display: block;
}

#logo {
	float: left;
	display: block;
	margin-left: 30px;
}

#page_title {
	display: block;
	float: left;
	font-family: Palatino,Arial;
	font-size: 38px;
	margin-top: 10px; 
	margin-left: 40px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: solid;
	border-width: 7px;
	border-color: #E0E0FF;
	border-radius:25px;
}

#PCEP_zone {
	margin-top: 20px; 
}

#pcep_inputs {
	background: #fff;
	border: 6px solid #ccc;
	height: 200px;
	padding-top: 0px;
	width: 370px;
	margin:20px;
	font-family:Verdana, sans-serif;
	float: left;
}


#pcep_input_title {
	font-size:16px;
	width: 115px;
	padding: 4px;
	margin-top: -15px;
	margin-left: 10px; 
	background:#fff;
	-moz-border-radius:4px;
	box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
	padding:5px 10px;
	text-transform:uppercase;
	font-family:Helvetica, sans-serif;
	font-weight:bold;
	text-align: center;
}

#select_message {
	background: #EBF5FF;
	margin-top: 20px;
	margin-left: 10px;
	padding-top: 5px;
	border: solid;
	border-color: lightgrey;
	border-width: 2px;
	padding-left: 3px;
	padding-bottom: 5px;
	font-size:16px;
	width: 80%;
}
#select_message #select_message_title {
	color: black;
	font-size:14px;
	margin-bottom: 3px;
	margin-left: 10px;
}

#select_message select{
	color: blue;
	font-size:16px;
	margin-left: 10px;
}

#RFC_box {

}

#RFCs {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#mybutton{
	margin-left: 70px;
	margin-top: 10px;
	font-size: 20px;
}

.elem_definition {
	float: left;
 	clear: left; 
 	margin-bottom:0.3cm;
}

.defined_element {
  float: left;
}
.definition {
  float: left;
}

#pcep_grammar_zone {
	background: #fff;
	border: 6px solid #ccc;
	min-height: 200px;
	margin: 20px;
	width: 350px;
	float: left;
}

#pcep_grammar_title {
	font-size:16px;
	width: 135px;
	padding: 4px;
	margin-top: -15px;
	margin-left: 10px; 
	background:#fff;
	-moz-border-radius:4px;
	box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
	padding:5px 10px;
	text-transform:uppercase;
	font-family:Helvetica, sans-serif;
	font-weight:bold;
	text-align: center;
}

#pcep_grammar{
	margin-top: 5px;
	margin-left: 10px;
	font-size: 16px;
}

#pcep_grammar span {
	display: block;
}

#pcep_grammar span.object_RFC5521{
	color: #FF3300;
}




